<!DOCTYPE html>
<html>

<head>
    <title>Account Verification</title>
</head>

<body>
    <p>Hello {{userFullName}},</p>
    <p>Welcome to {{yourAppName}}! We're thrilled to have you join our community.</p>

    <p>To complete your registration, please click the following link to verify your email address:</p>
    <a href="{{verificationLink}}">Verify Your Email</a>

    <p>If you didn't create an account with us, you can simply ignore this email.</p>

    <p>Best regards,</p>
    <p>The {{yourAppName}} Team</p>
</body>

</html>