<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peer Sync - Workspace Invitation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        .content {
            margin-bottom: 20px;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <h2>Peer Sync - Workspace Invitation</h2>
        </div>
        <div class="content">
            <p>Hello,</p>
            <p>You have been invited to join {{workspaceName}} on our platform. We believe your expertise will
                greatly contribute to the success of this workspace.</p>
            <p>Please click the button below to accept or reject the invitation:</p>
            <a class="btn" href="{{acceptInvitationLink}}">Accept Invitation</a>
            <a class="btn" href="{{rejectInvitationLink}}" style="background-color: #FF0000;">Reject Invitation</a>
        </div>
        <div class="footer">
            <p>If you have any questions or need further assistance, please contact our support team at
                support@easylabsltd.com.</p>
        </div>
    </div>
</body>

</html>